<ng-progress></ng-progress>
<div class="section">
  <div class="content">
    <div class="row">
      <h2>Important</h2>
      <div class="badge nudge-down move-right important">{{importantMentions.length}}</div>
    </div>
    <div class="row has-cards">
      <div class="column">
        <div class="card">
          <div class="card-section">
            <div class="table">
              <div class="table-body">
                <a (click)="selectMention(important)" *ngFor="let important of importantMentions"  class="table-row news w-inline-block">
                  <div class="table-body-cell shrink">
                    <div class="table-marker" [ngClass]="important.sentiment === 1 ? 'positive' : (important.sentiment === 0 ? 'negative' : 'neutral')"></div>
                  </div>
                  <div class="table-body-cell _50">
                    <div class="data small fill">{{important.title}}</div>
                  </div>
                  <div class="table-body-cell main">{{important.outlet}}, <em class="muted">{{important.views}} views</em></div>
                  <div class="table-body-cell">{{important.publishedAt | date: 'mediumDate'}}<em class="muted"></em></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="throw-down">All articles ({{newsCount}})</h2>
    <div class="row has-cards">
      <div class="column">
        <div class="card">
          <div class="card-section">
            <div class="table">
                
             <div class="button no-padding subtle with-icon no-margin black w-button push-right" (click)="toggleDropdownSentiment()">Filter sentiment by <div class="primary nudge-right">All</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter icon nudge-right small"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
              <div class="dropdown-list filter-sour" style="display: flex; width: 160px;"  [style.display]="showDropDownSentiment ? 'flex' : 'none'" >
                  <button class="dropdown-link" (click)="getPositive($event)">Positive</button>
                  <button class="dropdown-link" (click)="getNegative($event)">Negative</button>
                  <button class="dropdown-link" (click)="getOthers($event)">Others</button>
                  <!-- <button class="dropdown-link" (click)="getNegative($event)">Negative</button> -->
              </div>
            </div>
            
           
           
            
              <div class="button no-padding subtle with-icon no-margin black w-button push-right" (click)="toggleDropdownSource()">Filter source by <div class="primary nudge-right">All</div> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter icon nudge-right small"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
              <div class="dropdown-list filter-sour" style="display: flex; width: 160px;" [style.display]="showDropDownSource ? 'flex' : 'none'">
                <button class="dropdown-link" (click)="getOthers($event)" >Other</button>
                <button class="dropdown-link" (click)="getPositive($event)">News</button>
                <button class="dropdown-link" (click)="getSocialMedia($event)" >Social Media</button></div>
          </div>

              <div class="button no-padding subtle with-icon no-margin black w-button push-right">Sort<div class="primary nudge-right"></div> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list icon nudge-right small"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
        </div>
        <br><br>
        
            
                <!-- <div class="table-header">
                  <div class="table-header-cell">All</div>
                  <div class="table-header-cell">Positive</div>
                  <div class="table-header-cell">Negative</div>
                  <div class="table-header-cell">Neutral</div>
                </div> -->
                <!-- <div class="table-body">
                  <div class="table-row">
                    <div class="table-body-cell">
                      <ui-switch (change)="setFilter($event, 'all')" size="small" color="#BE4BDB"
                                 [checked]="filters.all"></ui-switch>
                    </div>
                    <div class="table-body-cell">
                      <ui-switch (change)="setFilter($event, 'positive')" size="small" color="#BE4BDB"
                                 [checked]="filters.positive"></ui-switch>
                    </div>
                    <div class="table-body-cell">
                      <ui-switch (change)="setFilter($event, 'negative')" size="small" color="#BE4BDB"
                                 [checked]="filters.negative"></ui-switch>
                    </div>
                    <div class="table-body-cell">
                      <ui-switch (change)="setFilter($event, 'neutral')" size="small" color="#BE4BDB"
                                 [checked]="filters.neutral"></ui-switch>
                    </div>

                  </div>
                </div> -->
              
              <div class="table-body">
                <a (click)="selectMention(mention)" *ngFor="let mention of newsMentions | paginate: { id: 'mentions_pagination', itemsPerPage: limit, currentPage: page};" class="table-row news w-inline-block">
                  <div class="table-body-cell shrink">
                    <div class="table-marker" [ngClass]="mention.sentiment === 1 ? 'positive' : (mention.sentiment === 0 ? 'negative' : 'neutral')"></div>
                  </div>
                  <div class="table-body-cell _50">
                    <div class="data small fill">{{mention.title}}</div>
                  </div>
                  <div class="table-body-cell main">{{mention.outlet}}, <em class="muted">{{mention.views}} views</em></div>
                  <div class="table-body-cell">{{mention.publishedAt | date: 'mediumDate'}}<em class="muted"></em></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-align-center" *ngIf="newsMentions.length > 0">
      <pagination-controls (pageChange)="page = $event" id="mentions_pagination"></pagination-controls>
    </div>
  </div>
  <div data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b374" [style.display]="showMentionsModal ? 'flex' : 'none'"
       [style.opacity]="showMentionsModal ? 1 : 0" class="modal">
    <div class="modal-container">
      <h2>News Article</h2>
      <div data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b378">
        <!--<strong data-feather="x" class="icon close">close</strong>-->
        <i-x (click)="hideMentionModal()"></i-x>
      </div>
      <div data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b37b" class="modal-card">
        <div class="s-border" [style.background-color]="selectedMention.sentiment === 1 ? '#40C057' : (selectedMention.sentiment === 0 ? '#FA5252' : '#FAB005')"></div>
        <div data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b37d" class="modal-card-content"
             [style.display]="showRespondModal ? 'none' : 'block'">
          <div class="modal-header">
            <div class="meta">{{selectedMention.platform ? selectedMention.platform : selectedMention.outlet}}</div>
            <div class="meta push-right">{{selectedMention.url}}</div>
          </div>
          <div class="modal-body">
            <div class="bold hidden" [ngClass]="getSentimentText(selectedMention)">
              {{scoreToDecimal(selectedMention.sentiment_score)}}% {{getSentimentText(selectedMention)}}</div>
            <div *ngIf="selectedMention.title" class="data large">{{selectedMention.title}}</div>
            <p class="paragraph">
              {{selectedMention.content}}
            </p>
          </div>
        </div>
        <div [style.display]="showRespondModal ? 'block' : 'none'" [style.opacity]="showRespondModal ? '1' : '0'"
             [style.width]="showRespondModal ? '600px' : '0px'"
             data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b38b" class="respond-step">
          <div class="modal-body">
            <div class="w-form">
              <form #respondForm="ngForm" name="email-form" data-name="Email Form">
                <div class="control throw-down">

                  <label>Select pr email</label>
                  <select name="respondEmail" ngModel required class="input select large w-select">
                    <option [value]="email" *ngFor="let email of responseEmails">{{email}}</option>
                  </select>
                </div>
                <div class="control">
                  <label>Recipient Full Name</label>
                  <input name="name" ngModel
                         required class="input fill w-input">
                </div>
                <div class="control">
                  <label>Compose your message</label>
                  <textarea name="respondMessage" ngModel maxlength="5000" placeholder="Write here..."
                            required class="input textarea fill w-input">

                </textarea>
                </div>
                <button [disabled]="!respondForm.valid"
                        (click)="respondToMention(respondForm)" data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b396"
                        class="button primary no-margin w-button">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div [style.display]="showRespondModal ? 'none' : 'block'" data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b39e" class="modal-footer">
          <a (click)="showRespondStep()" data-w-id="e6fc9813-737b-1b93-056f-b5b945f6b39f" class="button primary w-button">Respond</a>
          <a [href]="selectedMention.url" target="_blank" class="button subtle push-right w-button">Read more</a>
          <a class="button danger subtle with-icon push-right w-button" (click)="markAsIrrelevant()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-trash-2 icon nudge-left">
              <polyline points="3 6 5 6 21 6"></polyline>
              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
              <line x1="10" y1="11" x2="10" y2="17"></line>
              <line x1="14" y1="11" x2="14" y2="17"></line>
            </svg>
            Mark as irrelevant</a></div>
      </div>
    </div>
  </div>
</div>
